/* Navigation CSS */
nav {
    text-align: center;
}

nav {
    background-color: #333;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
  }
  
  nav ul li a {
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 1em 2em;
  }
  
  nav ul li a:hover {
    background-color: #555;
  }

  /* Body CSS */
body {
  text-align: center;
}

/* Section CSS */
section {
  background-color: #e9e9e9;
  padding: 1.5em;
  border-radius: 0.5em;
  box-shadow: 0.5em 0.5em 2em rgba(0, 0, 0, 0.3); /* Adjust the shadow for the desired effect */
  margin: 3em auto;
  max-width: 70rem;
}

.gallery {
    overflow-x: auto;
    white-space: nowrap;
    margin: 1em;
  }
  
  .gallery-item {
    display: inline-block;
    margin-right: 1em; /* Adjust spacing between items */
  }
  
  .gallery-item img {
    max-width: 100%; /* Ensure images don't exceed their container width */
  }